language: elixir

sudo: false

elixir:
  - 1.6
  - 1.5
  - 1.4

otp_release:
  - 20.3
  - 19.3

env: MIX_ENV=test

script:
  - mix credo --strict
  - mix coveralls.travis

notifications:
  email: false
